In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
bank_main=pd.read_csv('bank-additional/bank-additional/bank-additional-full.csv',sep=';')
#bank_main.drop('Unnamed: 0',axis=1,inplace=True)
bank1=bank_main.copy()

In [4]:
bank1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.metrics import classification_report,confusion_matrix

<h2>Seperating (numeric and categoric features)and encoding categoric variable..

In [6]:
def differentiateFeature(dataFrame):
    
   numerical_feature_columns = list(dataFrame._get_numeric_data().columns)
   categorical_feature_columns = list(set(dataFrame.columns) - set(dataFrame._get_numeric_data().columns))
   return numerical_feature_columns ,categorical_feature_columns

numericFeature1 , categoricalFeature1 = differentiateFeature(bank1)

def label_encoding_(l1):
   label=preprocessing.LabelEncoder()
   label.fit(l1)
   return pd.DataFrame(label.transform(l1))

for a in categoricalFeature1:
    bank1[a]=label_encoding_(bank1[a])

In [7]:
bank1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0

<h2>Function for train test split

In [8]:
def train_test(features,labels):
    from sklearn.model_selection import train_test_split
    X,y=features,labels
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)
    return X_train, X_test, y_train, y_test  

X_train, X_test, y_train, y_test=train_test(bank1.drop('y',axis=1),bank1['y'])

<h2>Model Building Function

In [9]:
def Decision_tree(X_train, X_test, y_train, y_test):
    from sklearn.model_selection import train_test_split
    from sklearn.metrics import classification_report,confusion_matrix
    
    print('-----------------------------Decision Tree------------------------------')
    model=DecisionTreeClassifier()
    model.fit(X_train,y_train)
    prediction = model.predict(X_train)
    print("Train Classification Report : \n",classification_report(y_train,prediction))
    prediction = model.predict(X_test)
    prediction=model.predict(X_test)
    print("Classification Report : \n",classification_report(y_test,prediction))
    print("++++++++++++++++++++++++++++++++++ \n Confusion Matrix : \n\n",confusion_matrix(y_test,prediction))
Decision_tree(X_train, X_test, y_train, y_test)

-----------------------------Decision Tree------------------------------
Train Classification Report :
              precision    recall  f1-score   support

          0       1.00      1.00      1.00     25570
          1       1.00      1.00      1.00      3261

avg / total       1.00      1.00      1.00     28831

Classification Report :
              precision    recall  f1-score   support

          0       0.94      0.94      0.94     10978
          1       0.50      0.51      0.51      1379

avg / total       0.89      0.89      0.89     12357

++++++++++++++++++++++++++++++++++
 Confusion Matrix :

 [[10268   710]
 [  670   709]]

In [10]:
def logistic_regression(X_train, X_test, y_train, y_test):  
    from sklearn.model_selection import train_test_split
    from sklearn.linear_model import LogisticRegression
    from sklearn.metrics import classification_report,confusion_matrix

    print('-----------------------------Logistic Regression------------------------------')
    model = LogisticRegression()
    model.fit(X_train,y_train)
    prediction = model.predict(X_train)
    print("Train Classification Report : \n",classification_report(y_train,prediction))
    prediction = model.predict(X_test)
    print("Test Classification Report : \n",classification_report(y_test,prediction))
logistic_regression(X_train, X_test, y_train, y_test)

-----------------------------Logistic Regression------------------------------
Train Classification Report :
              precision    recall  f1-score   support

          0       0.93      0.97      0.95     25570
          1       0.67      0.41      0.51      3261

avg / total       0.90      0.91      0.90     28831

Test Classification Report :
              precision    recall  f1-score   support

          0       0.93      0.98      0.95     10978
          1       0.66      0.38      0.48      1379

avg / total       0.90      0.91      0.90     12357

In [11]:
def ada_boosting( X_train, X_test, y_train, y_test):
    from sklearn.model_selection import train_test_split
    from sklearn.ensemble import AdaBoostClassifier
    from sklearn.metrics import accuracy_score
    
    print('-----------------------------AdaBoostClassifier------------------------------')
    model = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), 
                             n_estimators=50,
                             algorithm="SAMME.R", 
                             learning_rate=0.5, 
                             random_state=42)
    model.fit(X_train, y_train)
    prediction = model.predict(X_train)
    print("Train Classification Report : \n",classification_report(y_train,prediction))
    prediction=model.predict(X_test)
    accuracy = accuracy_score(y_test, prediction)
    print("Classification Report : \n",classification_report(y_test,prediction))
    print("Accuracy: %.2f%%" % (accuracy * 100.0))
ada_boosting( X_train, X_test, y_train, y_test)

-----------------------------AdaBoostClassifier------------------------------
Train Classification Report :
              precision    recall  f1-score   support

          0       0.92      0.98      0.95     25570
          1       0.68      0.37      0.48      3261

avg / total       0.90      0.91      0.90     28831

Classification Report :
              precision    recall  f1-score   support

          0       0.92      0.98      0.95     10978
          1       0.66      0.34      0.45      1379

avg / total       0.89      0.91      0.89     12357

Accuracy: 90.69%

In [12]:
def random_forest(X_train, X_test, y_train, y_test):
    from sklearn.model_selection import train_test_split
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.metrics import accuracy_score, roc_auc_score, make_scorer
    
    print('-----------------------------Random Forest------------------------------')
    model = RandomForestClassifier(n_estimators=50,min_samples_leaf=2, random_state=9)
    model.fit(X_train,y_train)
    prediction = model.predict(X_train)
    print("Train Classification Report : \n",classification_report(y_train,prediction))
    prediction = model.predict(X_test)
    print("Test Classification Report : \n",classification_report(y_test,prediction))
    print("accuracy Score : \n",accuracy_score(y_test, prediction))
    print("++++++++++++++++++++++++++++++++++ \n ROC AUC Score : \n",roc_auc_score(y_test, prediction))

random_forest(X_train, X_test, y_train, y_test)

-----------------------------Random Forest------------------------------
Train Classification Report :
              precision    recall  f1-score   support

          0       0.98      1.00      0.99     25570
          1       0.97      0.87      0.92      3261

avg / total       0.98      0.98      0.98     28831

Test Classification Report :
              precision    recall  f1-score   support

          0       0.94      0.96      0.95     10978
          1       0.64      0.50      0.56      1379

avg / total       0.90      0.91      0.91     12357

accuracy Score :
 0.9122764425022255
++++++++++++++++++++++++++++++++++
 ROC AUC Score :
 0.7309226205063565

In [13]:
def xgboost(X_train, X_test, y_train, y_test):
    from sklearn.model_selection import train_test_split
    from xgboost import XGBClassifier
    from sklearn.metrics import accuracy_score, roc_auc_score, make_scorer
    
    print('-----------------------------xgboost------------------------------')
    model = XGBClassifier()
    model.fit(X_train,y_train)
    prediction = model.predict(X_train)
    print("Train Classification Report : \n",classification_report(y_train,prediction))
    prediction = model.predict(X_test)
    print("Classification Report : \n",classification_report(y_test,prediction))
    print("accuracy Score : \n",accuracy_score(y_test, prediction))
    
xgboost(X_train, X_test, y_train, y_test)

-----------------------------xgboost------------------------------
Train Classification Report :
              precision    recall  f1-score   support

          0       0.94      0.97      0.96     25570
          1       0.70      0.53      0.60      3261

avg / total       0.91      0.92      0.92     28831

Classification Report :
              precision    recall  f1-score   support

          0       0.94      0.97      0.95     10978
          1       0.65      0.49      0.56      1379

avg / total       0.91      0.91      0.91     12357

accuracy Score :
 0.913814032532168

/home/siddesh/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/siddesh/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [14]:
def grid_search_cv(X_train, X_test, y_train, y_test):
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.grid_search import GridSearchCV
    from xgboost import XGBClassifier
    from sklearn.ensemble import AdaBoostClassifier
    
    ada = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), 
                             n_estimators=50,
                             algorithm="SAMME.R", 
                             learning_rate=0.5, 
                             random_state=42)
    xgboost = XGBClassifier()
    rfc=RandomForestClassifier(n_estimators=50,oob_score=True,max_features='sqrt',n_jobs=-1)

    params = {'n_estimators' : [100,150], 
              'max_features':['auto','sqrt','log2'] }
    
    grid_search = GridSearchCV(estimator=[rfc,xgboost,ada], cv=5,param_grid=params)
    grid_search.fit(X_train,y_train)
    y_prediction = grid_search.predict(X_test)

    return (grid_search.best_estimator_)
    
    
#print(grid_search_cv(X_train, X_test, y_train, y_test))

In [15]:
bank1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0

In [16]:
bank_main.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [17]:
def findUniueValues(df,columnList) :
    for i, col in enumerate(columnList):
        print(col,"::",df[col].unique())
        print()
findUniueValues(bank_main,bank_main.columns)

age :: [56 57 37 40 45 59 41 24 25 29 35 54 46 50 39 30 55 49 34 52 58 32 38 44
 42 60 53 47 51 48 33 31 43 36 28 27 26 22 23 20 21 61 19 18 70 66 76 67
 73 88 95 77 68 75 63 80 62 65 72 82 64 71 69 78 85 79 83 81 74 17 87 91
 86 98 94 84 92 89]

job :: ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']

marital :: ['married' 'single' 'divorced' 'unknown']

education :: ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']

default :: ['no' 'unknown' 'yes']

housing :: ['no' 'yes' 'unknown']

loan :: ['no' 'yes' 'unknown']

contact :: ['telephone' 'cellular']

month :: ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

day_of_week :: ['mon' 'tue' 'wed' 'thu' 'fri']

duration :: [ 261  149  226 ... 1246 1556 1868]

campaign :: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 19 18 23 14 22 25 16 17 15 20 56
 39 35 42 28 26 27 32 21 24 29 31 30 41 37 40 33 34 43]

pdays :: [999   6   4   3   5   1   0  10   7   8   9  11   2  12  13  14  15  16
  21  17  18  22  25  26  19  27  20]

previous :: [0 1 2 3 4 5 6 7]

poutcome :: ['nonexistent' 'failure' 'success']

emp.var.rate :: [ 1.1  1.4 -0.1 -0.2 -1.8 -2.9 -3.4 -3.  -1.7 -1.1]

cons.price.idx :: [93.994 94.465 93.918 93.444 93.798 93.2   92.756 92.843 93.075 92.893
 92.963 92.469 92.201 92.379 92.431 92.649 92.713 93.369 93.749 93.876
 94.055 94.215 94.027 94.199 94.601 94.767]

cons.conf.idx :: [-36.4 -41.8 -42.7 -36.1 -40.4 -42.  -45.9 -50.  -47.1 -46.2 -40.8 -33.6
 -31.4 -29.8 -26.9 -30.1 -33.  -34.8 -34.6 -40.  -39.8 -40.3 -38.3 -37.5
 -49.5 -50.8]

euribor3m :: [4.857 4.856 4.855 4.859 4.86  4.858 4.864 4.865 4.866 4.967 4.961 4.959
 4.958 4.96  4.962 4.955 4.947 4.956 4.966 4.963 4.957 4.968 4.97  4.965
 4.964 5.045 5.    4.936 4.921 4.918 4.912 4.827 4.794 4.76  4.733 4.7
 4.663 4.592 4.474 4.406 4.343 4.286 4.245 4.223 4.191 4.153 4.12  4.076
 4.021 3.901 3.879 3.853 3.816 3.743 3.669 3.563 3.488 3.428 3.329 3.282
 3.053 1.811 1.799 1.778 1.757 1.726 1.703 1.687 1.663 1.65  1.64  1.629
 1.614 1.602 1.584 1.574 1.56  1.556 1.548 1.538 1.531 1.52  1.51  1.498
 1.483 1.479 1.466 1.453 1.445 1.435 1.423 1.415 1.41  1.405 1.406 1.4
 1.392 1.384 1.372 1.365 1.354 1.344 1.334 1.327 1.313 1.299 1.291 1.281
 1.266 1.25  1.244 1.259 1.264 1.27  1.262 1.26  1.268 1.286 1.252 1.235
 1.224 1.215 1.206 1.099 1.085 1.072 1.059 1.048 1.044 1.029 1.018 1.007
 0.996 0.979 0.969 0.944 0.937 0.933 0.927 0.921 0.914 0.908 0.903 0.899
 0.884 0.883 0.881 0.879 0.873 0.869 0.861 0.859 0.854 0.851 0.849 0.843
 0.838 0.834 0.829 0.825 0.821 0.819 0.813 0.809 0.803 0.797 0.788 0.781
 0.778 0.773 0.771 0.77  0.768 0.766 0.762 0.755 0.749 0.743 0.741 0.739
 0.75  0.753 0.754 0.752 0.744 0.74  0.742 0.737 0.735 0.733 0.73  0.731
 0.728 0.724 0.722 0.72  0.719 0.716 0.715 0.714 0.718 0.721 0.717 0.712
 0.71  0.709 0.708 0.706 0.707 0.7   0.655 0.654 0.653 0.652 0.651 0.65
 0.649 0.646 0.644 0.643 0.639 0.637 0.635 0.636 0.634 0.638 0.64  0.642
 0.645 0.659 0.663 0.668 0.672 0.677 0.682 0.683 0.684 0.685 0.688 0.69
 0.692 0.695 0.697 0.699 0.701 0.702 0.704 0.711 0.713 0.723 0.727 0.729
 0.732 0.748 0.761 0.767 0.782 0.79  0.793 0.802 0.81  0.822 0.827 0.835
 0.84  0.846 0.87  0.876 0.885 0.889 0.893 0.896 0.898 0.9   0.904 0.905
 0.895 0.894 0.891 0.89  0.888 0.886 0.882 0.88  0.878 0.877 0.942 0.953
 0.956 0.959 0.965 0.972 0.977 0.982 0.985 0.987 0.993 1.    1.008 1.016
 1.025 1.032 1.037 1.043 1.045 1.047 1.05  1.049 1.046 1.041 1.04  1.039
 1.035 1.03  1.031 1.028]

nr.employed :: [5191.  5228.1 5195.8 5176.3 5099.1 5076.2 5017.5 5023.5 5008.7 4991.6
 4963.6]

y :: ['no' 'yes']

In [18]:
def random_forest(X_train, X_test, y_train, y_test):
    from sklearn.model_selection import train_test_split
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.metrics import accuracy_score, roc_auc_score, make_scorer
    
    print('-----------------------------Random Forest------------------------------')
    model = RandomForestClassifier(n_estimators=50,min_samples_leaf=2, random_state=9)
    model.fit(X_train,y_train)
    prediction = model.predict(X_test)
    print("Classification Report : \n",classification_report(y_test,prediction))
    print("accuracy Score : \n",accuracy_score(y_test, prediction))
    print("++++++++++++++++++++++++++++++++++ \n ROC AUC Score : \n",roc_auc_score(y_test, prediction))

random_forest(X_train, X_test, y_train, y_test)

-----------------------------Random Forest------------------------------
Classification Report :
              precision    recall  f1-score   support

          0       0.94      0.96      0.95     10978
          1       0.64      0.50      0.56      1379

avg / total       0.90      0.91      0.91     12357

accuracy Score :
 0.9122764425022255
++++++++++++++++++++++++++++++++++
 ROC AUC Score :
 0.7309226205063565

In [19]:
#bank_main[bank_main['job']=='unknown']

In [27]:
bank_df=pd.read_csv('bank_df.csv',sep=',')

In [ ]:
from sklearn import preprocessing

bank_df[cat_col]=label_encoding_(bank_df[cat_col])

# One Hot encoding

In [24]:

bank_df=pd.get_dummies(bank_df.drop('y',axis=1), drop_first=True)
bank_df.head()
X_train,X_test,y_train,y_test=split_train_test(bank_df.drop('y',axis=1), bank_df['y'], test_size=0.3, random_state=9)

NameError: name 'split_train_test' is not defined